
#body{
  background-color: rgba(198, 216, 223, 0.795);
  border: solid rgba(198, 216, 223, 0.795);
 display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 60px;
    margin: 150px 450px;
    border-radius: 30px;
}

#login-box{
   
    text-align: center;
}

#accounts-box,#password-box{
  margin:10px;
  padding: auto;
}

#login-button{
   text-align: center;
  padding: auto;
}

#alertMsg{
  color:red;
  text-align: center;
}

.invalid-feedback {
  color: red
}

form.was-validated input:invalid {
  border-bottom: 1px solid red;
}

