<div id="login-box">
  <h2 class="outline" style="text-align: center;margin:0px 0px 30px 0px;">登入頁面</h2>
  <form action="" method="POST">
    <div class="input-group input-group-lg" id="accounts-box">
      <span class="input-group-text" id="inputAcountsGroup-sizing-lg">帳號</span>
      <input type="text" class="form-control" placeholder="輸入帳號">
    </div>
    <div class="input-group input-group-lg" id="password-box">
      <span class="input-group-text" id="inputPasswordGroup-sizing-lg">密碼</span>
      <input type="text" class="form-control" placeholder="輸入密碼">
    </div>
    <div id="login-button">
      <button type="submit" class="btn btn-primary">登入</button>
      <a href="https://www.google.com.tw/" class="btn btn-primary">取消</a>
    </div>
  </form>
  <div>